/* IMPORTS, VARIABLES & MICRO RESET */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --gap: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: "Open Sans", sans-serif;
  color: #e0e0e0;
}

.logo {
  width: clamp(30px, 4vw, 70px);
}

.navbar-brand {
  font-weight: 900;
  color: white;
  background: linear-gradient(90deg, #9d016e, #feec00, #9d016e, #feec00);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titulocool 15s infinite ease-in-out;
}

.content-background {
  background-color: #00000088;
  min-height: fit-content;
}

.col {
  position: relative;
}

.card-body, 
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.8s ease, z-index 0s 0.8s ease;
}

.detail {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  background: #000000aa;
  color: white;
}

.card.active .detail {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
  box-shadow: 0 0 4px 4px white;
}

.card.active .card-body {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}


.footer {
  background: linear-gradient(#00192ecc, #000000dd);
}

.footer__img {
  width: 20px;
  border-radius: 16px;
}

.fa-brands {
  color: #e0e0e0;
}

.fa-heart {
  position: relative;
}

.fa-heart:hover::after {
  position: absolute;
  left: 0;
  content: "💞";
  font-size: 1.5rem;
  animation: flotar 1s ease-out forwards;
  transform-origin: center;
}

/* ANIMACIONES */
@keyframes titulocool {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes flotar {
  0% { 
    transform: translateY(0) rotateY(0deg);
    opacity: 1;
    font-size: 1.25rem;
  }
  100% { 
    transform: translateY(-150px) rotateY(900deg);
    opacity: 0;
    font-size: 0.25rem;
  }
}